.mainMenu {
    position: relative;
    background-color: #2D2D2A;
    border: var(--border) #EA5636 solid;
    border-radius: 100px;
    height: 50px;
    padding: 10px;
    margin: 10px auto;
    display: block;
}

.headerImg {
    height: 40px;
}

img {
    height: inherit;
}

.menuItems {
    float: right;
}

.doDanceNameLogo {
    padding-left: 15%;
}