.mainProfileContainer {
    position: relative;
    width: var(--page-container);
    margin: auto;
    height: 100%;
}

.profileMainPhoto {
    width: 75%;
    object-fit: cover;
    margin-left: 30px;
    border-radius: 50%;
    border: 4px var(--white) solid;
}

/* Profile data */
.allProfileData {
    margin: 50px 0;
}

hr {
    border-radius: 10px;
}

.totalDataBlue {
    border: var(--border) var(--blue) solid;
}

.totalDataRed {
    border: var(--border) var(--red) solid;
}

.totalPoints {
    height: 40px;
}

.totalPoints img {
    height: inherit;
}

/* each row Profile Data */
.bigProfileData p {
    font-size: var(--bold-data);
}

.totalData p {
    height: 25px;
    margin: 5px;
}

.perCoursePoints {
    margin-left: 100px;
}

.totalCoursePoints {
    margin-left: 100%;
}

.courseTotalData {
    margin-left: 5%;
}

.iconDataTotalCourse {
    padding: 30px 0 ;
}

.iconDataTotalCourse div {
    padding-top: 10px;
}